{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Top Dogs Images{% endblock %}</title>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'voting/style.css' %}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/">Voting</a></li>
          <li><a href="/best">Best</a></li>
        </ul>
      </div>
    </nav>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
