{% extends "voting/base.html" %}
{% load static %}

{% block title %}Vote for the best dog{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'voting/index.css' %}">
    <script src="{% static 'voting/index.js' %}"></script>
{% endblock %}

{% block content %}
  {% if dogs %}
    <div class="title-wrapper">
      <span class="title text">Choose the image you like best</span>
   </div>
    <div class="images">
      {% for dog in dogs %}
        <div class="image-wrapper">
          <img src="{{ dog.link }}" alt="image" class="image">
          <div class="votes-wrapper">
            <span class="votes text">{{ dog.votes }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="title-wrapper">
      <span class="title text">Images are not available</span>
   </div>
  {% endif %}
{% endblock %}
