.image-wrapper {
    position: relative;

    width: 45%;
}

@keyframes voted-animation {
    0%   {transform:scale(1.1);opacity:1;}
    50%  {transform:scale(0.95);opacity:.9;}
    100% {transform:scale(1);opacity:1;}
}

.voted {
    animation: voted-animation .5s;
    z-index: 1;
}

.voted:hover {
    animation: voted-animation .5s;
    z-index: 1;
}